
aside {
  background-color: white;
  margin: 0;
  padding: 0;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  margin: 0 10px;
  margin-right: 10px;
  padding: 0;
  background-color: pink;
}

aside li:first-of-type {
  margin: 10px 10px;
  padding: 0;
  background-color: pink;
}

