aside {
    position: absolute;
    top: 0px;
    left: 70vw;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 2px;
    height: 100vh;
    width: 30vw;
    border: 3px groove rgb(10, 205, 10);
    vertical-align: top;
    overflow: scroll;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(images/solarsystem.png);
    background-size: 100% 100%;
    width: 70vw;
    height: 100vh;
    transition: 1s ease-in-out;
}
