
aside {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  border: medium dashed green;
  position: relative;
  left: 1000;
  vertical-align: top;
  overflow: scroll;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  margin: 0 10px;
  margin-right: 10px;
  padding: 0;
  background-color: pink;
}

aside li:first-of-type {
  margin: 10px 10px;
  padding: 0;
  background-color: pink;
}

